/* Reset Session */
*{
    margin: 0;
    padding: 0;
    background-color: #F1F2F5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

/* Navigation Bar Session */
.containerLinks{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #3E70B0;
    color: #D9DEF1;
    text-decoration: none;
}

.containerLinks > nav > ul > li > a{
    text-decoration: none;
    background-color: #3E70B0;
    color: #FFFEFF;
}

/* Activated effect */
.containerLinks > nav > ul > li > a#activated{
    font-weight: bold;
}

.containerLinks > nav > ul{
    background-color: #3E70B0;
    list-style: none;
    padding: 0;
}

.containerLinks > nav > ul > li{

    display: inline;
    margin-right: 20px;
}

/* Container Major Session */

.containerMajor{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* Container Title Session */
.containerTitle{
    margin-top: 75px;
    display: flex;
    justify-content: center;
}
.inputs{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-content: space-around;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3
}
.contentForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
}

.contentForm > #submit{
    background-color: #3E70B0;
    color: #FFFEFF;
    margin-top: 14px;
    width:40%;
    font-weight: 600;
}

.contentForm > #email{
    text-align: center;
}

.contentForm > #name{
    text-align: center;
}
